//Colors
$dark: #0D0F11;
$gray: #1c2024;
$main-color: #1e90ff;
$light-gray: #23282e;
$light-color: #b7dbff;
$off-black: #14171b;
$white: #fff;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;